@charset "utf-8";
    
    html { 
            background: url(../IMG/nuevo.png) no-repeat fixed center ; 
                    -webkit-background-size: cover;
                      -moz-background-size: cover;
                        -o-background-size: cover;
                          background-size: cover;
        }
        
    label
        {
            color:black;
        }  

    body{
            font-family: 'Architects Daughter', cursive;
            color:#333;
            font-size:25px;
            font-weight:bold;
            }

    .letra{
        font-size: 14px;
    }

    .center{
            position:absolute;
            padding:0 10px 0 10px;
            width:1210px;
            height:1000px;
            top:30%;
            left:20%;
            margin-left:-210px;
            margin-top:-200px;
            background-color: rgba(0, 0, 0, 0.4);
            }

         h1{
            font-size:20px;
            }
        
       h1 p{

            background:#222;
            color:#fff;
            padding:10px;

            }

        * {
            margin: 0;
            padding: 0;
        }
        html,body {
            height:100%;
        }

    /* tables */
    table {
        font-family:arial;
        background-color: #CDCDCD;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 100%;
        text-align: center;
    }

    table tr th {
        background-color: #e6EEEE;
        border: 1px solid #FFF;
        font-size: 8pt;
        padding: 4px;
    }

    table  tr {
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    table  td {
        color: #3D3D3D;
        padding: 4px;
        background-color: #FFF;
        vertical-align: top;
    }
    
  
    
